
<header class="navbar">
    <div id="logo" class="banner_logo">
        <span class="K">K</span>
        <span class="O">O</span>
        <span class="I">I</span>
    </div>
    <nav>
        <a href="#"><li class="how_it_works_nav">How it works</li></a>
        <a href="#"><li class="examples_nav">Examples</li></a>
        <a href="#"><li class="sign_up_nav">Sign Up</li></a>    
    </nav>
</header>

<section class="banner hula"> 
    <div id="fade_wrapper">
        <div class="banner_headline">Free movement with friends</div> 
    </div>
</section>

<section id="how_it_works">
    <h1>HOW IT WORKS</h1>
        <div class="how_it_works_items">
            <div class="how_it_works_item">
                 <%= image_tag "ic_group_add_48px.svg" %>
                <br>
                <h3>Form a group</h3>
                <p>Find 4+ friends and sign up together. The fun starts when you're all committed.</p>
            </div>
        
            <div class="how_it_works_item">
                <%= image_tag "ic_event_available_48px.svg" %>
                <br>
                <h3>2x/ week; 3 months</h3>
                <p>Commit to meet twice a week wherever you want. You'll just need something to play videos with you (TV, iPad, laptop, etc.).</p>
            </div>
        
            <div class="how_it_works_item">
                <%= image_tag "ic_videocam_48px.svg" %>
                <br>
                <h3>Move for 30 minutes!</h3>
                <p>We'll send you a 30-minute video that you can stream or download. A coach will lead you through the movements. </p>
            </div>
        </div>
    
</section>


<section id="spectrum">
    <h1>KOI SPECTRUM OF MOVEMENTS</h1>
    <div>
        <%= image_tag "spectrum.jpg"%>
        <div class="spectrum_text">
            <span>... and many more, so it&#39;ll be rather varied. Our goal is to make you <em>safely sweat, consistently</em>.</span>
        </div>  
    </div>
</section>

<section id="meathead">
    <div class="meathead_content_wrapper">
        <div class="meathead_item">
            <div id="logo" class="content_logo">
                <span class="K">K</span>
                <span class="O">O</span>
                <span class="I">I</span>
            </div>
        </div>
        <div class="meathead_image">
            <div>
                <span>Because it&#39;s <em>not</em> about making you look like this</span>
            </div>
        </div>
        
        <div class="jump_image">
            <div>
                <span>Koi is all about <em>making you feel like this</em></span>
            </div>
        </div>
        
    </div>
</section>

<section id="sign_up">
            
        <h3>Sign up now for early access</h3>
        <div>
        <input class="requests_input" type="text" name="email" placeholder="Enter Email">
        * We'll only email when Koi's ready for you<br>
        <button class="requests_email_submit_button">Submit
        </button>
        </div>
       
</section>

<footer class="content_footer">
    <h2>It's free! Want early access?</h2>
</footer>

<div class="login_signup_section" style="display:none">

    <h1> Login</h1>

    <div class="error_message">
        <% if @error == true %>
        <p>Try again... </p>
        <% end %>
    </div>

    <form class="login_form" action="/session" method="POST">
        <input type="text" name="email" placeholder="EMAIL"> 
        <input type="password" name="password" placeholder="PASSWORD">
        <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        <button>ENTER</button> 
    </form>

    <h1> Sign Up</h1>

       
    <form class="sign_up_form" action="/users" method="POST">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="Age" placeholder="Age">
        <input type="text" name="phone" placeholder="Phone Number">
        <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        <button>Sign Up</button> 
    </form>

</div>



