<!DOCTYPE html>
<html>
<head>
  <title>Koi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

 <%= yield :chat %>
		
</body>
</html>
